/*
 * Dark Blue: #4d73e5 
 * */

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4em;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #0001;
}

.nav__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-menu {
  padding: 0.5em 1em;
  background: #fff;
  color: #4d73e5;
  border: 1px solid #4d73e5;
}

.menu {
  display: none;
  align-items: center;
}
.menu.show {
  background-color: #f0f0f0;
  position: absolute;
  z-index: 9999;
  display: block;
  top: 0;
  left: 0;
  margin-top: 4em;
  padding: 1em 0;
  width: 100%;
}

.menu.show > li {
  width: max-content;
  margin: 1em auto;
}

.menu__item {
  list-style: none;
}

.menu__link {
  text-decoration: none;
  color: #888;
  font-size: 1.25rem;
}
.menu__link:hover {
  color: #1e1e2e;
}
.menu__link:not(.home) {
  font-weight: 300;
  font-size: 1rem;
}

.home {
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .nav__container {
    justify-content: space-between;
  }
  .btn-menu {
    display: none;
  }
  .menu {
    display: flex;
  }

  .menu.show {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    width: max-content;
    background-color: #fff;
  }
  .menu.show > li {
    margin: 0 1em;
    padding: 0;
  }
  .menu__item {
    padding: 0.5em 1em;
    margin: 1em;
  }
}
