.container {
  background-color: rgba(255, 255, 255, 25%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 2em;
  width: max-content;
  margin: 1em auto;
  border-radius: 50px;
}

.btn {
  display: flex;
  padding: 0.5em 1em;
  margin: 0 .5em;
  color: #fff;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transform: translate(0, 0);
  transition: all 0.25s;
}

.active {
  background-color: #2196ea;
}

.btn:not(.active):hover {
  transform: translate(0, -5px);
  background-color: #2196ea;
}
