nav {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 5%);
  padding: 0.75em 0;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 0.5em 0 3em 0;
}
nav ul > li {
  margin: 0 1em;
  list-style: none;
}
nav a {
  position: relative;
  display: flex;
  width: 3em;
  justify-content: center;
  color: #aaa;
  font-weight: 300;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.25s;
}

nav a:hover,
nav a:focus {
  color: #1e1e2e;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1em;
  height: 2px;
  background-color: #5af;
  transition: all 0.25s;
}
nav a:hover::after,
nav a:focus::after {
  width: 100%;
}

.home {
  color: #888;
  font-size: 1.25rem;
  font-weight: bold;
}

@media screen and (min-width: 40em) {
  .container {
    flex-direction: row;
  }
  nav ul {
    margin: 0;
  }
}
